.root {  display: block; -fx-background-color: lightsteelblue; }
.fontStyle{ -fx-font-size: 25; -fx-font-family: "Times New Roman"; }
.label{ -fx-text-fill: Black; }
.hbox { -fx-padding: 15; -fx-spacing: 10; }
.borders{ -fx-border-color: yellow; -fx-border-style: solid; -fx-border-width: 4; -fx-border-insets: -5; }